function SquareGame.new 0
push constant 0
call Memory.alloc 1
pop pointer 0
push constant 0
push constant 0
push constant 30
call Square.new 3
pop this 0
push constant 0
pop this 1
push constant 0
return
function SquareGame.dispose 0
push argument 0
pop pointer 0
push this 0
call Square.dispose 1
pop temp 0
push constant 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function SquareGame.moveSquare 0
push argument 0
pop pointer 0
push this 1
push constant 1
eq
not
if-goto else_2
push this 0
call Square.moveUp 1
pop temp 0
goto ifend_1
label else_2
label ifend_1
push this 1
push constant 2
eq
not
if-goto else_4
push this 0
call Square.moveDown 1
pop temp 0
goto ifend_3
label else_4
label ifend_3
push this 1
push constant 3
eq
not
if-goto else_6
push this 0
call Square.moveLeft 1
pop temp 0
goto ifend_5
label else_6
label ifend_5
push this 1
push constant 4
eq
not
if-goto else_8
push this 0
call Square.moveRight 1
pop temp 0
goto ifend_7
label else_8
label ifend_7
push constant 5
call Sys.wait 1
pop temp 0
push constant 0
return
function SquareGame.run 2
push argument 0
pop pointer 0
push constant 0
pop local 1
label while_9
push local 1
not
not
if-goto while_end_10
label while_11
push local 0
push constant 0
eq
not
if-goto while_end_12
call Keyboard.keyPressed 0
pop local 0
push argument 1
call SquareGame.moveSquare 1
pop temp 0
goto while_11
label while_end_12
push local 0
push constant 81
eq
not
if-goto else_14
push constant 0
not
pop local 1
goto ifend_13
label else_14
label ifend_13
push local 0
push constant 90
eq
not
if-goto else_16
push this 0
call Square.decSize 1
pop temp 0
goto ifend_15
label else_16
label ifend_15
push local 0
push constant 88
eq
not
if-goto else_18
push this 0
call Square.incSize 1
pop temp 0
goto ifend_17
label else_18
label ifend_17
push local 0
push constant 131
eq
not
if-goto else_20
push constant 1
pop this 1
goto ifend_19
label else_20
label ifend_19
push local 0
push constant 133
eq
not
if-goto else_22
push constant 2
pop this 1
goto ifend_21
label else_22
label ifend_21
push local 0
push constant 130
eq
not
if-goto else_24
push constant 3
pop this 1
goto ifend_23
label else_24
label ifend_23
push local 0
push constant 132
eq
not
if-goto else_26
push constant 4
pop this 1
goto ifend_25
label else_26
label ifend_25
label while_27
push local 0
push constant 0
eq
not
not
if-goto while_end_28
call Keyboard.keyPressed 0
pop local 0
push argument 1
call SquareGame.moveSquare 1
pop temp 0
goto while_27
label while_end_28
goto while_9
label while_end_10
push constant 0
return
